<div>
    <a href="https://www.linkedin.com/in/ayrton-alexis-alvaro-rodriguez-a80411178/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
    <a href="https://github.com/Ayrtonalvaro" target="_blank"><img src="../../../assets/github.png"id="github"></a>
    <a href="https://www.instagram.com/ayrtonalvaro/?hl=es-la" target="_blank"><img src="../../../assets/instagram.png"id="instagram" ></a>
    <a href="https://twitter.com/ayrtonalvaro" target="_blank"><img src="../../../assets/twitter.png"id="twitter"></a>
</div>
