<div class="row">
    <h1>Proyectos hechos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque similique veritatis mollitia tempora, soluta blanditiis tempore neque modi exercitationem aliquid ut facilis architecto veniam. Iusto nobis enim ipsam neque repellat.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <h1>Proyecto 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate accusamus molestias voluptatibus sed facilis nulla a ipsa aliquid officiis, adipisci eveniet impedit eaque non laudantium beatae nostrum. Obcaecati, numquam eveniet.</p>
        </div>

    </div>
</div>