<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre" style="color: black;">Alvaro Ayrton</p>
        <p style="color: black;">Full Stack developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 style="color: black;">Sombre mí</h1>
            <p style="color: black;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, dicta cumque iusto, ducimus ab aliquam distinctio perspiciatis beatae facere labore in qui? Error, ea nam commodi esse impedit exercitationem odit.</p>
        </span>
    </div>

</div>
